@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Raleway:wght@300;600&display=swap');

.new h3, .gendertext, .award h6, .award h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

 li, .award p{
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

body{
    font-size: 18px;
    background-color: rgb(7, 11, 15);
}

.fullnav{
    background-color: #00000085;
}

.carousel-item img{
    height: 900px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8; 
}

@media only screen and (max-width: 578px) {
    .carousel-item img, .carousel button{
        margin-top: 60px;
        height: 200px;    
    }
    .logo{
        display: none;
    }
}

nav li{
    list-style-type: none;
    padding: 5px;
    height: 50px;
    
}


a.nav-link,a.nav-link.active,.input.form-control,.new,.gendertext, .award,.card-group-title, footer, footer a.text-white,.info, .info a{
    text-decoration: none;
    color: #ffffff !important;
}

.category img{
    box-shadow: 0px 0px 12px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    opacity: 1;
}

.new{
    background-image: url(../img/omega1.png) ;
    background-position: center center;
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-top{
    border-bottom: 1px solid  #cccccc28;
}

  .gendertext {
    opacity: 0;
    transition: .3s ease;
  }
  
  .category:hover .gendertext {
    opacity: 1;
  }
  
  .gendertext {
    font-size: 20px;
    text-align: center;
  }

  .card-body img{
    height: 200px;
    object-fit: contain;
    margin: 0px auto;
    display: block;
}

.footerlogo,.card-group-title{
    font-size: 30px;
    text-transform: uppercase;
}

footer{
    background-color: rgb(0, 0, 0);
}
footer hr{
    color: #ffffff56;
}

footer h3, footer p, footer a, footer button, .award p{
    font-size: 16px;
}

.navbar-toggler-icon{
    background-color: #ffffffa1;
    border-radius: 10px;
    padding: 20px;
}